
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-text-color-one: #000000;
    --accent-color: #2196F3;
    --primary-bt-color: #FFFFFF;
    --accent-color-one: #F5F4FA;
    --primary-phon-color: hsla(0, 0%, 100%, 0.6);
    --primary-brg-color: #2F303A;
    --header-border-color: #ececec;
    --list-items-gap: 30px;
    --portfolio-cards-border-color: #eee;
    --bg-color-gray: #f5f4fa;
    --text-color-social: #afb1b8;
    --bg-color-button-accent-secondary: #188ce8;
    --thumb-color: #afb1b8;
    --thumb-color-hover: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: var(--primary-bt-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.image-block {
    display: block;
}

.text-center {
    text-align: center;

}

.heading {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.site-header {
    border-bottom: 1px solid var(--header-border-color);
}

.site-header .container {
    display: flex;
    align-items: center;
}

.site-nav {
    margin-left: 93px;
}

.site-nav .list {
    display: flex;

}

.site-nav .item:not(:first-child),
.auth-nav .item:not(:first-child) {
    margin-left: 50px;
}

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link-current {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.auth-nav .item {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;

}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(---primary-text-color);

    align-items: center;
}

.auth-nav {
    display: inline-block;
    margin-left: auto;
    align-items: center;

}

.auth-nav .icon {
    --color4: currentColor;
    margin-right: 10px;

}

.icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--title-text-color-one);
}

.logo__accent {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    padding-top: 24px;
    padding-bottom: 24px;
}

.features-heading,
.portfolio-heading {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {
    display: flex;
    margin-left: calc(-1 * var(--list-items-gap));
}

.features-list .thumb {
height: 120px;

    border-radius: 4px;
    background-color: var(--bg-color-gray);
    margin-bottom: 30px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-list .item {
    flex-basis: calc(100% / 4 - var(--list-items-gap));
    margin-left: var(--list-items-gap);
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-cards .item {
    flex-basis: calc(100% / 3 - var(--list-items-gap));
    
}

.portfolio-filter {
    margin-bottom: 50px;
}

.portfolio-cards .description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border: 1px solid var(--portfolio-cards-border-color);
    border-top: none;
}

.portfolio-cards .link {
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
}

.portfolio-cards .link:hover,
.portfolio-cards .link:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-cards .text {
    color: var(---primary-text-color);
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-cards .heading-car {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.section-items {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.section-item-one {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.section-desc {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

.section-text {
    color: var(--primary-text-color);
    line-height: 1.71;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
}

.slogan {
    max-width: 1600px;
    margin:0 auto;
    background-color: var(--primary-brg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
}

.slogan-title {
    color: var(--primary-bt-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
}

.button {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
    text-decoration: none;
    font-family: inherit;
    text-align: center;
}

.button-primary {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 30px;
    padding: 10px 32px;
    border: 0 solid transparent;
    border-radius: 4px;
}

.button-work {
    color: var(--title-text-color);
    background-color: var(--accent-color-one);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-style: normal;
    border: 0 solid transparent;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
}

.button-work:hover,
.button-work:focus {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-secondary {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    font-style: normal;
    border: 0 solid transparent;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
}

.competence {
    padding-top: 0;
}

.competence .section-title {
    text-align: center;
}

.competence-list {
    display: flex;
    margin-top: 50px;
    margin-left: calc(-1 * var(--list-items-gap));
}

.competence-list .item {
    flex-basis: calc(100% / 3 - var(--list-items-gap));
    margin-left: var(--list-items-gap);
}

.address .link {
    color: var(--primary-bt-color);
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.address .link-one {
    color: var(--primary-phon-color);

    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.address .link-one:hover,
.address .link-one:focus {
    color: var(--accent-color);
}

.portfolio-filter {
    display: flex;
    justify-content: center;
}

.portfolio-filter .item:not(:first-child) {
    margin-left: 8px;
}

.team {
    background-color: var(--bg-color-gray);
}

.team-cards {
    display: flex;
    margin-top: 50px;
    margin-left: calc(-1 * var(--list-items-gap));
    
}

.team-cards .item {
    flex-basis: calc(100% / 3 - var(--list-items-gap));
    margin-left: var(--list-items-gap);

    background-color: var(--primary-bt-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

.team-cards .description {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
}

.team-cards .section-desc {
    margin-top: 10px;
}

.social-links {
    margin-top: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}



.social-links__item:not(:last-child) {
    margin-right: 10px;
}

.social-links__link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: var(--text-color-social);
    align-items: center;
    justify-content: center;
}

.social-links__link:hover,
.social-links__link:focus {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
}

.social-links__icon {
    --color1: currentColor;

}

.clients__icon {
    --color1: currentColor;
    display: block;
}

.site-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--primary-brg-color);
}

.site-footer__container {
    display: flex;
    align-items: baseline;
}

.site-footer__nav-links {
    width: 231px;
}

.site-footer__logo {
    color: var(--primary-bt-color);
}

.site-footer__social-links {

    margin-left: 70px;
}

.site-footer__heading {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-bt-color);
}

.site-footer__social-list {
    margin-top: 20px;
}

.site-footer__social-link {
    color: var(--primary-bt-color);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Footer contacts */

.footer-contacts {
    margin-top: 20px;
}

.footer-contacts__item:not(:first-child) {
    margin-top: 9px;
}

.footer-contacts__link {
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    color: var(--primary-phon-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.footer-contacts__link--address {
    color: var(--primary-bt-color);
}




.customer_title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 margin-bottom: 50px;
}

.customer_content {
    display: flex;
    justify-content: space-between;

}

.customer__item {
  
    margin-left: 30px;
}

.customer__item:first-child {
    margin-left: 0;
}


.customer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    color: var(--text-color-social);
    border: 1px solid var(--text-color-social);
    border-radius: 4px;
}

.customer__link:hover,
.customer__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    }


.clients__icon {

    fill: currentColor;
    height: 50px;
}